.my-stories-container {
  padding: 5px;
}
.my-stories-story {
  display: grid;
  grid-template-rows: 6fr 0.5fr 0.5fr;
  border: 1px solid rgba(128, 128, 128, 0.25);
  max-width: 350px;
  height: 350px;
  border-radius: 5px;
  grid-gap: 10px;
  padding: 5px;
}
.ms-cover-image {
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 900px) {
  .my-stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
