.story-page {
  width: 95%;
  padding-top: var(--padding-top-md);
  max-width: var(--max-width-main);
  margin: 0 auto;
}

.story-page .ql-editor {
  /* border: 1px solid rgba(128, 128, 128, 0.15); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 50vh;
  background-color: transparent;
  margin-bottom: 40px;
  margin-top: 0;
  border-color: transparent;
}

.story-page-header {
  text-align: center;
}
.story-page h3 {
  margin: 10px 0;
}

.story-page .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  margin-top: 20px;
}

#quill-container {
  padding-top: 0;
}

.story-page #quill-editor {
  border: none;
  border-bottom: 1px solid grey;
}
.story-button-container {
  margin: 50px auto;
  padding: 10px 0;
}

.test-block {
  display: none;
}

.story-header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.story-container {
  margin-top: 50px;
}

.story-user {
  font-weight: bold;
}

.story-user-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}
.story-stats {
  display: none;
}
.story-category-small {
  border: 1px solid rgba(128, 128, 128, 0.125);
  width: max-content;
  margin: 0 auto;
  padding: 2.5px 10px;
  background-color: var(--primary-button);
  margin-bottom: -10px;
  border-radius: 5px;
}

@media only screen and (min-width: 1100px) {
  .story-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
  }
  .story-side-info {
    display: block;

    height: 100%;
    max-height: 800px;
  }
  .story-info-summary {
    border: 1px solid rgba(85, 58, 58, 0.35);
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.35);
    margin-bottom: 10px;
  }
  .story-info-summary p {
    font-weight: 600;
    margin-top: 10px;
  }
  .story-stats {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
  .single-story-stat {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .single-story-stat img {
    width: 100%;
    max-width: 20px;
  }
}
