.story-info-page {
  padding-top: var(--padding-top-lg);
  text-align: left;
  padding-bottom: 100px;
  transition: all 0.5s ease-in-out;
}
.story-info-page h3 {
  text-align: center;
}

.story-info-container {
  margin: 10px auto;
  width: 90%;
  max-width: var(--max-width-main);
}
.story-info-picture {
  height: 300px;
  width: 90%;
  max-width: 350px;
  border: 1px solid rgba(128, 128, 128, 0.35);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 10px;
  margin-bottom: 20px;
  gap: 10px;
}

.story-info-picture input {
  max-width: 200px;
  border: 1px solid red;
}

.story-info-details {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
}

.story-info-input {
  display: flex;
  flex-direction: column;
}

.story-info-tags {
  margin-top: 20px;
}
.story-info-input small {
  margin-right: 10px;
  border: 1px solid grey;
  width: max-content;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
}

@media only screen and (min-width: 1100px) {
  .story-info-container {
    display: grid;
    grid-template-columns: 2fr 7fr;
  }
}
