.search-page {
  padding-top: 0px;
  width: 95%;
  min-height: 100vh;
  max-width: var(--max-width-main);
  margin: 0 auto;
  padding: var(--padding-top-sm) 0;
}
.search-page h4 {
  margin: 30px auto;
  text-align: center;
}
.search-page-tags-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.search-page-tag,
.search-page-tag a,
.search-page-tag a:visited {
  background-color: goldenrod;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  color: white !important;
}
