.search-page {
  padding-top: 50px;
  width: 95%;
  min-height: 100vh;
  max-width: var(--max-width-main);
  margin: 0 auto;
  padding: var(--padding-top-sm) 0;
}
.search-page h4 {
  margin: 30px auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .search-page {
    padding-top: var(--padding-top-md);
  }
}
@media only screen and (min-width: 1100px) {
  .search-page {
    padding-top: var(--padding-top-lg);
  }
}
