.draft-container {
  display: grid;
  max-width: 900px;
}
.draft-cover-image {
  border: 1px solid grey;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.draft-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid grey;
  padding-left: 10px;
}
.draft-buttons-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .draft-container {
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
  .draft-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
