.container.footer {
  min-height: 15vh;
  background-color: rgb(47, 47, 47);
  width: 100%;
  padding-top: 0;
  color: white;
}
.footer-container {
  width: 95%;
  margin: 0 auto;

  border-right: 1px solid rgba(128, 128, 128, 0.3);
  border-left: 1px solid rgba(128, 128, 128, 0.3);
}
.footer {
  background-color: rgb(47, 47, 47);

  position: static;
  bottom: 0;
  z-index: 3;
}

.footer-upper {
  width: 95%;
  max-width: var(--max-width-main);

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 10px;
}
.footer-about {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;

  gap: 20px;
  justify-content: space-evenly;
}
.link-set {
  display: flex;
  flex-direction: column;
}

.link-set a,
.link-set a:visited {
  color: var(--primary-button);
}
.footer-about p {
  color: white;
}
@media only screen and (min-width: 600px) {
  .footer-upper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1100px) {
  .footer-links {
    flex-direction: row;
    width: 30%;
  }
  .footer-upper {
    padding-top: 150px;
  }
}
