.block-3-container {
  min-height: 30vh;
  width: 95%;
  max-width: var(--max-width-main);
  margin: 50px auto;
  padding: 30px 0px;
}
.block-3-container h3 {
  text-align: left;
  margin-bottom: 20px;
}

.block-3-segment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-3-segment p {
  width: 100%;

  max-width: none;
}

.block-3-image img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .block-3-container {
    margin-top: 50px;
    padding: 50px 0px;
  }
}

@media only screen and (min-width: 1100px) {
  .block-3-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}
