.block-1 {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  margin-bottom: 100px;
}
.block-1-segment {
  width: 100%;
  max-width: 400px;
  height: 450px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 25px 10px;
}
.block-1-segment-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.block-1-segment-text small {
  border: 1px solid goldenrod;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .block-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .block-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
