.block-1-container {
  width: 95%;
  max-width: var(--max-width-main);
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  gap: 15px;

  overflow: hidden;
}
.block-1-segment {
  margin: 0 auto;
  width: 80%;
  min-width: 270px;
  height: 450px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 5px;
  padding: 25px 10px;
  position: relative;
  overflow: hidden;
}
.block-1-segment-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  z-index: 1;
}
.block-1-segment-text p {
  font-size: small;
}
.block-1-segment-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: white;
  width: 100%;
  height: 100%;
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-position: center/center;
}

.block-1-segment-text small {
  border: 1px solid goldenrod;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .block-1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: 900px) {
  .block-1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  .block-1-segment {
  }

  .block-1-segment-text:hover + .overlay-image {
    opacity: 0;
  }
}
