@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color-bg: #f6f3ef;
  --primary-button: #ffcd6d;
  --alternate-button: #f9f9f9;
  --max-width-main: 1340px;
  --padding-top-sm: 80px;
  --padding-top-md: 100px;
  --padding-top-lg: 120px;

  --dark-font: #213547;
  --light-font: white;
  --primary-font: var(--dark-font);
  --alt-font: cadetblue;
}
button {
  border-color: transparent;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 130%;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 130%;
  margin-bottom: 20px;
  color: var(--dark-font);
}

h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: medium;
  line-height: 1.8em;
  width: 95%;
  color: var(--primary-font);
}

small {
  color: var(--primary-font);
}

a,
a:visited {
  font-weight: 500;
  color: var(--primary-font);
  text-decoration: none;
}

body {
  background-color: var(--primary-color-bg);
  overflow-x: hidden;
  /* width: 100%; */
}

.btn,
.btn a,
.btn a:visited {
  background-color: var(--primary-button);
  border-radius: 6px;
  padding: 10px 20px;
  color: var(--dark-font);
  transition: all 0.5s ease-in-out;
  font-size: medium;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
  margin-top: 10px;
  min-width: 5rem;
  text-align: center;
}

.btn-green {
  background-color: rgb(96, 151, 96);
  color: white;
}

.btn-white {
  background-color: var(--alternate-button);
  border: 1px solid rgba(128, 128, 128, 0.25);
}
.btn-google {
  width: 90%;
  max-width: 500px;
  text-align: center;
  text-transform: none;
}
.btn-google p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 1px;
  font-size: small;
}

.container {
  min-height: 100vh;
  background-color: transparent;
  width: 95%;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
.title-span {
  color: goldenrod;
}
.alt-span {
  color: cadetblue;
}
input {
  padding: 20px 15px;
  width: 90%;
  border: none;
  border-radius: 5px;
  max-width: 475px;
  background-color: white;
}
textarea {
  padding: 15px;
  width: 90%;
  max-width: 40rem;
  border: none;
}

.btn-form {
  margin-top: 10px;
  font-weight: 700;
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App {
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 600px) {
  .btn:hover {
    transform: translateY(-5px);
  }
  h1 {
    font-size: 52px;
  }
  .container {
    padding-top: 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
  }
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 64px;
  }
  h3 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 130%;
  }
  h4 {
    font-size: 28px;
  }
  .btn-google p {
    font-size: medium;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(1%);
    scale: 1.05;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    scale: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes kentBurns {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
/* @media only screen and (min-width: 600px) {}
@media only screen and (min-width: 1100px) {} */
